(ftp-server-config
  [server-1
    (host&port "127.0.0.1" 21)
    (ssl-protocol&certificate #f)
    (passive-ports 40000 40599)]
  [server-2
    (host&port #f 990)
    (ssl-protocol&certificate sslv3 "certs/server-2.pem")
    (passive-ports 40000 40599)]
  [control-server
    (host&port "127.0.0.1" 40600)
    (ssl-protocol&certificate sslv3 "certs/control.pem")
    (passwd "12345")]
  [max-allow-wait 50]
  [default-locale-encoding "cp1251"]
  [default-root-dir "ftp-dir"]
  [log-file "logs/ftp.log"]
)