(ftp-server-config
  [server-1 "127.0.0.1" 21 ] ;sslv3
  [server-1-certificate "certs/server-1.pem"]
  [server-2 "localhost" 990 sslv3]
  [server-2-certificate "certs/server-2.pem"]
  [max-allow-wait 50]
  [passive-1-ports 40000 40599]
  [passive-2-ports 40000 40599]
  [default-locale-encoding "cp1251"]
  [default-root-dir "ftp-dir"]
  [log-file "logs/ftp.log"]
  [control-passwd "12345"]
  [control-server "127.0.0.1" 40600]
  [control-certificate "certs/control.pem"]
)